#header{
    /* width: 1200px; */
    height:100px;
    /* border: 1px solid black; */
    display: flex;
    background-color: white;
}

#nav{
    height: 70px;
    padding-left: 200px;
    padding-right: 200px;
}

#container {
    width: 1700px;
    margin: auto;
    /* border: 1px solid #ff0000; */
}
input{
    width: 200px;
    height: 50px;
    font-size: 15px;
    border: 0;
    border-radius: 25px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
    position: absolute;
    right:100px;
    top:30px;
}

.menubar {
    display: flex;
    /* margin: 10px; */
    text-align: center;
    font-weight: bold;
    /* background-color:rgb(120, 214, 139); */
}


.menus {
    width: 300px;
    height: 70px;
    /* border: 1px solid; */
    margin-left: 10px;
    margin: auto;
    font-size:18px;
}

.request{
    font-size: larger;
    position: absolute;
    top:27px;
    right:340px;
    font-weight: bold;
    color: gray;
}

a:link{
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color: black;
}
