#header{
    /* width: 1200px; */
    height:100px;
    /* border: 1px solid black; */
    display: flex;
    background-color: white;
}

h2 {
    font-size: 50px;
    margin-top: 14px;font-size: 50px;
    margin-top: 14px;
    font-family: "Bagel Fat One", system-ui;
    font-weight: 100;
}

#nav{
    height: 90px;
    padding-left: 200px;
    padding-right: 200px;
}

#container {
    width: 100%;
    margin: auto;
    /* border: 1px solid #ff0000; */
}

#article{
    display: flex;
    width: 1600px;
    /* border: 1px dashed blue; */
    margin: 10px auto;
}

article img{
    width: 200px;
    margin-bottom: 20px;
    margin-left: 20px;
}

button {
    position: absolute;
    right: 10px;
}

article p{
    font-family: "Gowun Dodum";
    text-align: center;
    font-weight: 600;
    color: rgb(77, 88, 108);
    font-size: 30px
}

.book{
    width: 400px;
    border:1px solid rgb(132, 140, 171);
    position: relative;
}

.data img{
    width: 300px;
}

.data{
    width: 400px;
    /* border:1px solid black; */
    position: relative;
    border:1px solid rgb(132, 140, 171);
    margin-left: 15px;
}

.news{
    width: 400px;
    /* border:1px solid black; */
    position: relative;
    border:1px solid rgb(132, 140, 171);
    margin-left: 15px;
}

.news img{
    width: 300px;
}

.species{
    width: 400px;
    /* border:1px solid black; */
    position: relative;
    margin-left: 15px;
    border:1px solid rgb(132, 140, 171);
}

.species img{
    height: 190px;
    margin-bottom: 30px;
}

input{
    width: 200px;
    height: 50px;
    font-size: 15px;
    border: 0;
    border-radius: 25px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
    position: absolute;
    right:100px;
    top:30px;
}

#footer{
    height: 70px;
    background-color: gray;
    color:whitesmoke;
}

.numbers{
    /* text-align: right; */
    float: right;
    margin: 10px;
}

.bars{
    width: 200px;
    float:left;
    margin: 10px;
}

#logo{
    width:100px;
    height:100px;
    /* border: 1px solid rebeccapurple; */
}

.menubar {
    display: flex;
    /* margin: 10px; */
    text-align: center;
    font-weight: bold;
    /* background-color:rgb(120, 214, 139); */
}


.menus {
    width: 300px;
    height: 70px;
    /* border: 1px solid; */
    margin-left: 10px;
    margin: auto;
    font-size:18px;
}

.menu{
    font-size: 23px;
    font-weight: 100;
    height: 50px;
    border-bottom: 1px solid rgb(85, 85, 85);
    transition: all 0.3s;
}

/* 메뉴바 클릭시 글씨 색과 두께, 언더바 색과 두께 바뀜, */
.menu:hover{
    color :rgb(18, 70, 42);
    font-weight: bold;
    text-decoration: none;
    font-weight: 400;
    border-bottom: 3px solid rgb(18, 70, 42);
}

a:link{
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color: black;
}

.request{
    font-size: larger;
    position: absolute;
    top:27px;
    right:340px;
    font-weight: bold;
    color: gray;
}

.request:hover{
    text-decoration: underline;
}