.goods {
    display: flex;
}

article div img {
    width: 300px;
    height: 300px;
    margin-top: 60px;
    margin-left: 100px;
}

article p{
    margin-left: 100px;
    font-size: 30px;
    font-family: "Gowun Dodum";
}

#container {
    width: 100%;
    margin: auto;
    /* border: 1px solid #ff0000; */
}

#header{
    /* width: 1200px; */
    height:100px;
    /* border: 1px solid black; */
    display: flex;
    background-color: white;
}

h2 {
    font-size: 50px;
    margin-top: 14px;
    font-family: "Bagel Fat One", system-ui;
    font-weight: 100;
}

.request{
    font-size: larger;
    position: absolute;
    top:27px;
    right:340px;
    font-weight: bold;
    color: gray;
}

.request:hover{
    text-decoration: underline;
}

input{
    width: 200px;
    height: 50px;
    font-size: 15px;
    border: 0;
    border-radius: 25px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
    position: absolute;
    right:100px;
    top:30px;
}

#logo{
    width:100px;
    height:100px;
    /* border: 1px solid rebeccapurple; */
}

.menubar {
    display: flex;
    /* margin: 10px; */
    text-align: center;
    font-weight: bold;
    /* background-color:rgb(120, 214, 139); */
}


.menus {
    width: 300px;
    height: 70px;
    /* border: 1px solid; */
    margin-left: 10px;
    margin: auto;
    font-size:18px;
}

.menu{
    font-size: 23px;
    font-weight: 100;
    height: 50px;
    border-bottom: 1px solid rgb(85, 85, 85);
    transition: all 0.3s;
}

/* 메뉴바 클릭시 글씨 색과 두께, 언더바 색과 두께 바뀜, */
.menu:hover{
    color :rgb(18, 70, 42);
    font-weight: bold;
    text-decoration: none;
    font-weight: 400;
    border-bottom: 3px solid rgb(18, 70, 42);
}



a:link{
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color: black;
}

#nav{
    height: 70px;
    padding-left: 200px;
    padding-right: 200px;
}

#footer{
    height: 70px;
    background-color: gray;
    color:whitesmoke;
}

.numbers{
    /* text-align: right; */
    float: right;
    margin: 10px;
}

.bars{
    width: 200px;
    float:left;
    margin: 10px;
}